/* line 4, ../sass/style.scss */
body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

/* line 10, ../sass/style.scss */
header {
  background: #333;
  height: 40px;
  position: relative;
  z-index: 999;
  width: 100%;
}

/* line 20, ../sass/style.scss */
a:link,
a:visited {
  color: #fff;
}

/* line 24, ../sass/style.scss */
.content {
  padding: 0 40px 0 20px;
}

/* line 30, ../sass/style.scss */
nav.primary {
  border-bottom: 1px solid #000;
  overflow: hidden;
  *zoom: 1;
}
/* line 34, ../sass/style.scss */
nav.primary ul {
  margin: 0;
  padding: 0;
}
/* line 38, ../sass/style.scss */
nav.primary ul li {
  float: left;
  list-style-type: none;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
/* line 45, ../sass/style.scss */
nav.primary ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}
/* line 50, ../sass/style.scss */
nav.primary ul li a:hover {
  background: #000;
}

/* line 60, ../sass/style.scss */
nav.secondary {
  background: #000;
  border-left: 2px solid #333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 50px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 50px;
  box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 50px;
  color: #fff;
  height: 100%;
  margin-right: -250px;
  position: absolute;
  right: 0;
  width: 250px;
}
/* line 71, ../sass/style.scss */
nav.secondary h2 {
  font-size: 18px;
  font-weight: bold;
}
/* line 76, ../sass/style.scss */
nav.secondary ul {
  margin: 0;
  padding: 10px 0 20px 0;
}
/* line 80, ../sass/style.scss */
nav.secondary ul li {
  border-bottom: 1px solid #333;
  list-style-type: none;
  padding: 0;
}
/* line 85, ../sass/style.scss */
nav.secondary ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}
/* line 90, ../sass/style.scss */
nav.secondary ul li a:hover {
  background: #333;
}

/* line 100, ../sass/style.scss */
a.menuexpand {
  background: #ccc;
  color: #000;
  display: block;
  height: 100%;
  line-height: 25px;
  padding-top: 50px;
  position: fixed;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 25px;
}
/* line 114, ../sass/style.scss */
a.menuexpand:hover {
  background: #ddd;
}
