@import "compass/utilities/general/clearfix";
@import "compass/css3/box-shadow";

body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

header {
  background: #333;
  height: 40px;
  position: relative;
  z-index: 999;
  width: 100%;
}


a:link,
a:visited {
  color: #fff;
}

.content {
  padding: 0 40px 0 20px;
}


// Nav
nav.primary {
  border-bottom: 1px solid #000;
  @include clearfix;

  ul {
    margin: 0;
    padding: 0;

    li {
      float: left;
      list-style-type: none;
      line-height: 30px;
      margin: 0;
      padding: 0;

      a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;

        &:hover {
          background: #000;
        }
      }
    }
  }
}


// Nav
nav.secondary {
  background: #000;
  border-left: 2px solid #333;
  @include box-shadow(rgba(0, 0, 0, .5) 4px 4px 50px);
  color: #fff;
  height: 100%;
  margin-right: -250px;
  position: absolute;
  right: 0;
  width: 250px;

  h2 {
    font-size: 18px;
    font-weight: bold;
  }

  ul {
    margin: 0;
    padding: 10px 0 20px 0;

    li {
      border-bottom: 1px solid #333;
      list-style-type: none;
      padding: 0;

      a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;

        &:hover {
          background: #333;
        }
      }
    }
  }
}


// Menu expand
a.menuexpand {
  background: #ccc;
  color: #000;
  display: block;
  height: 100%;
  line-height: 25px;
  padding-top: 50px;
  position: fixed;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 25px;

  &:hover {
    background: #ddd;
  }
}